body {
    background: #f1edb0;
}

header h1 {
    text-align: center;
}

.project-titles {
    text-align: center;
}

.enlarge:hover {
    transform: scale(1.2)
}


.flexbox-container {
    display: flex;
    flex-wrap: wrap;
}

.flexbox-item {
}

.flexbox-item-1 {
    margin-right: 10px;
}

.flexbox-item-2 {
    margin-right: 10px;
    
}

.flexbox-item-3 {
    
}

#about_me, #my_work {
    margin-bottom: 20px;
}